<div class="main flex flex-column justify-content-center align-items-center" style="margin-top: 12%;">
  <div class="redefinir-senha-container">
    <h2>Redefinir Senha</h2>
    <form [formGroup]="redefinirSenhaForm" (ngSubmit)="redefinirSenha()">
      <div class="form-group flex flex-column mb-2">
        <label for="novaSenha"><b>Nova Senha:</b></label>
        <input 
          pInputText 
          id="novaSenha" 
          formControlName="novaSenha" 
          type="password" 
          class="form-control"
          [ngClass]="{'p-invalid': novaSenha!.invalid && novaSenha!.touched}" 
        />
        <small class="p-error" *ngIf="novaSenha!.invalid && novaSenha!.touched">
          {{ novaSenha!.hasError('required') ? 'Senha obrigatória' : 'A senha deve ter pelo menos 6 caracteres' }}
        </small>
      </div>

      <div class="form-group flex flex-column mb-2">
        <label for="confirmarSenha"><b>Confirmar Senha:</b></label>
        <input 
          pInputText 
          id="confirmarSenha" 
          formControlName="confirmarSenha" 
          type="password" 
          class="form-control"
          [ngClass]="{'p-invalid': confirmarSenha!.invalid && confirmarSenha!.touched}" 
        />
        <small class="p-error" *ngIf="confirmarSenha!.invalid && confirmarSenha!.touched">
          {{ confirmarSenha!.hasError('required') ? 'Confirmação obrigatória' : 'As senhas não coincidem' }}
        </small>
      </div>

      <button 
        pButton 
        type="submit" 
        class="btn btn-primary w-15rem flex justify-content-center" 
        [disabled]="redefinirSenhaForm.invalid">
        Alterar senha
      </button>
    </form>
  </div>
</div>
