<form [formGroup]="formGroup">
    <div class="main" [style]="{ width: '50rem' }">
        <span class="p-text-secondary block mb-5">Cadastrar uma nova conta bancária</span>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="username" class="font-semibold w-6rem">Nome da conta</label>
            <input pInputText id="username" class="flex-auto" autocomplete="off" formControlName="nome" />
            <span class="warning-text">
                {{ errorMessages!.nome }}
            </span>
        </div>
        <div class="flex align-items-center gap-3 mb-3">

            <label for="email" class="font-semibold w-6rem">Categoria</label>
            <p-inputGroup>
                <p-dropdown [options]="categorias" formControlName="idCategoria" optionLabel="name"
                    optionValue="id" placeholder="Escolha a categoria" class="p-dropdown-lucas" [filter]="true"
                    filterBy="nome">
                    <ng-template let-categoria pTemplate="item" optionValue="id">
                        {{categoria.nome}}
                    </ng-template>
                    <ng-template let-categoria pTemplate="selectedItem" optionValue="id">
                        {{categoria.nome}}
                    </ng-template>
                </p-dropdown>
                <!-- VER A CRIAÇÃO DA CATEGORIA AO CLICKAR NO BOTAO COM O PROFESSOR (duvida referente ao caminho de volta para o cadastro) -->
                <button type="button" pButton icon="pi pi-plus" class="p-button-primary"
                    (click)="showDialog()"></button>
            </p-inputGroup>
            <span class="warning-text">
                {{ errorMessages!.idCategoria }}
            </span>

            <label for="email" class="font-semibold w-2rem">Ícone</label>
            <p-dropdown [options]="icons" formControlName="icon" optionLabel="name" placeholder="Escolha um ícone"
                class="flex-auto" autocomplete="off" [filter]="true" filterBy="nome" optionValue="nome">
                <!-- Utilizado ng-template para definir um template para cada item do dropdown -->
                <ng-template let-icon pTemplate="item">
                    <div>
                        <!-- tag i que recebe a string do icon para mostra-lo -->
                        <i [ngClass]="icon.nome"></i>
                    </div>
                </ng-template>
                <!-- selectedItem no pTemplate define que o item selecionado terá um template alterado, assim como cada opção tem ao utulizar 'item' -->
                <ng-template let-icon pTemplate="selectedItem">
                    <div>
                        <i [ngClass]="icon.nome"></i>
                    </div>
                </ng-template>
            </p-dropdown>
            <span class="warning-text">
                {{ errorMessages!.icon }}
            </span>

        </div>
        <div class="flex align-items-center gap-3 mb-3">

            <label for="saldo" class="font-semibold w-8rem">Saldo da conta</label>
            <input pInputText id="saldo" class="flex-auto" autocomplete="off" formControlName="saldo" />
            <!-- <p-inputNumber 
            [(ngModel)]="contaCriada.saldo" 
            mode="currency"
            inputId="saldo"
            currency="BRL" 
            locale="pt-BR" 
            placeholder="R$"
            [minFractionDigits]="2"
            [maxFractionDigits]="2"/> -->
            <span class="warning-text">
                {{ errorMessages!.saldo }}
            </span>

            <p-button label="Cancelar" (onClick)="cancelar()" severity="secondary" [outlined]="true"
                icon="pi pi-undo" />
            <p-button label="Salvar" (onClick)="salvar()" icon="pi pi-save" />
        </div>
    </div>
</form>

<p-dialog header="Cadastro de Categoria" [modal]="true" [(visible)]="visibleCadastroCategoria"
    [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-8">Update your information.</span>
    <div class="flex items-center gap-4 mb-4">
        <label for="categoria" class="font-semibold w-24">Categoria</label>
        <input pInputText id="categoria" class="flex-auto" autocomplete="off" [(ngModel)]="categoriaCadastro.nome" />
    </div>
    <div class="flex justify-end gap-2">
        <p-button label="Cancelar" severity="secondary" (click)="visibleCadastroCategoria = false" />
        <p-button label="Salvar" (click)="criarCategoria()" />
    </div>
</p-dialog>