<form class="main" [formGroup]="formGroup">
    <div class="form-container">
        <div class="input-group">
            <label for="username" class="form-label">Nome da Transação <span class="warning-text">*</span></label>
            <input pInputText id="username" class="form-input" autocomplete="off" formControlName="nome" />
            <span class="warning-text">
                {{ errorMessages!.nome }}
            </span>
        </div>

        <div class="radio-group">
            <label for="validContaBancaria" class="form-label">Selecione a conta que deseja vincular <span
                    class="warning-text">*</span></label>
            <p-dropdown [options]="contasDropdown" formControlName="idContaBancaria" optionLabel="name"
                (onShow)="carregarContasBancarias()" optionValue="id" placeholder="Escolha a conta a ser vinculada"
                (onChange)="atribuirIdConta(transacao.idContaBancaria!)">
                <ng-template let-cartao pTemplate="item">
                    {{cartao.nome}}
                </ng-template>
                <ng-template let-cartao pTemplate="selectedItem">
                    {{cartao.nome}}
                </ng-template>
            </p-dropdown>
            <span class="warning-text">
                {{ errorMessages!.idContaBancaria }}
            </span>
        </div>

        <div class="input-group flex flex-row">
            <div class="flex flex-column">
                <label class="form-label">Categoria <span class="warning-text">*</span></label>
                <p-dropdown [options]="categorias" optionLabel="name" optionValue="id" (onShow)="carregarCategorias()"
                    placeholder="Escolha a categoria à ser vinculada" (onChange)="onCategoriaChange()"
                    formControlName="idCategoriaTransacao">
                    <ng-template let-categoria pTemplate="item">
                        {{categoria.nome}}
                    </ng-template>
                    <ng-template let-categoria pTemplate="selectedItem">
                        {{categoria.nome}}
                    </ng-template>
                </p-dropdown>
                <span class="warning-text">
                    {{ errorMessages!.idCategoriaTransacao }}
                </span>
            </div>
            <div class="flex flex-column">
                <label class="form-label">Subcategoria <span class="warning-text">*</span></label>
                <p-dropdown [options]="subcategorias" optionLabel="name" optionValue="id"
                    [loading]="carregandoSubcategoriasDropdown" placeholder="Escolha a categoria à ser vinculada"
                    [disabled]="formGroup.get('idSubcategoriaTransacao')!.disabled"
                    formControlName="idSubcategoriaTransacao">
                    <ng-template let-categoria pTemplate="item">
                        {{categoria.nome}}
                    </ng-template>
                    <ng-template let-categoria pTemplate="selectedItem">
                        {{categoria.nome}}
                    </ng-template>
                </p-dropdown>
                <span class="warning-text">
                    {{ errorMessages!.idSubcategoriaTransacao }}
                </span>
            </div>
        </div>

        <div class="flex flex-row">
            <div class="flex flex-column">
                <label for="dataPrevista" class="form-label">Data prevista</label>
                <p-calendar formControlName="dataPrevista" [iconDisplay]="'input'" [showIcon]="true"
                    inputId="dataPrevista">
                </p-calendar>
            </div>

            <div class="flex flex-column">
                <label for="dataEfetivacao" class="form-label">Data efetivação</label>
                <p-calendar formControlName="dataEfetivacao" [iconDisplay]="'input'" [showIcon]="true"
                    inputId="dataEfetivacao">
                </p-calendar>
            </div>
        </div>

        <label class="form-label">Status da transação</label>
        <div class="radio-options">
            <p-radioButton [value]="false" formControlName="status" inputId="pendente" />
            <label for="pendente" class="ml-2">
                Pendente
            </label>

            <p-radioButton [value]="true" formControlName="status" inputId="efetuada" />
            <label for="efetuada" class="ml-2">
                Efetuada
            </label>
        </div>

        <label for="validContaBancaria" class="form-label">Tipo de Transação</label>
        <div class="radio-options">
            <p-radioButton [value]="true" formControlName="tipoTransacao" inputId="entrada" class="radio-btn" />
            <label for="entrada" class="radio-label">Entrada</label>

            <p-radioButton [value]="false" formControlName="tipoTransacao" inputId="saida" class="radio-btn" />
            <label for="saida" class="radio-label">Saída</label>
        </div>

        <div class="input-group">
            <label for="valorTransacao" class="form-label">Valor da Transação</label>
            <input type="number" inputId="valorTransacao" class="form-input" autocomplete="off" placeholder="R$" locale="pt-BR"
                min="0" formControlName="valor" (input)="evitarNumeroNegativo($event)"/>
            <span class="warning-text">
                {{ errorMessages!.valor }}
            </span>

            <div class="button-group">
                <p-button label="Cancelar" (onClick)="cancelar()" severity="secondary" [outlined]="true"
                    icon="pi pi-undo" class="button cancel" />
                <p-button label="Salvar" (onClick)="salvar()" icon="pi pi-save" class="button save" />
            </div>
        </div>
    </div>
</form>