/* Estilos Globais */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

p-autoComplete {
    width: 900px;
}

body {
    background-color: #f4f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}

/* Estilos para a div .main */
.main {
    width: 50%;
    margin: 5% auto;
    margin-top: 25px;
    margin-bottom: 0px;
    padding: 20px;
    border: 1px solid #4f4f4f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #2a2a2a;
    color: #ffffff;
}

.p-dropdown-lucas>.p-component {
    width: 90%;
    border-radius: 6px 0px 0px 6px !important;
    position: relative;
}

/* Container principal do formulário */
.form-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* Estilos para os inputs e labels */
.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-label {
    font-size: 1.1rem;
    font-weight: 600;
    color: #ffffff;
    display: block;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.line-field {
    max-width: 100%; /* Não ultrapassa a largura do contêiner */
    max-height: 100%; /* Não ultrapassa a altura, se aplicável */
    box-sizing: border-box;
    width: 100% !important;
}

.son-line-field {
    width: 100% !important;
}