<p-toast />
<p-confirmDialog />
<div class="card flex justify-content-end">
    <p-button routerLink="/subcategorias-transacao/cadastro" label="Cadastrar" icon="pi pi-plus"/>
</div>

<div class="card">
    <p-table [value]="subcategorias" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Categoria relacionada</th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-subcategoria>
            <tr>
                <td>{{ subcategoria.id }}</td>
                <td>{{ subcategoria.nome }}</td>
                <td>{{ subcategoria.categoria }}</td>
                <td>
                    <p-button label="Editar" (click)="editar(subcategoria.id)" icon="pi pi-pencil" />
                    <p-button label="Apagar" (click)="confirmacaoApagar($event, subcategoria.id)" severity="danger" icon="pi pi-trash" [outlined]="true"/>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
