.login {
    width: 100%;
    max-width: 650px;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.login > div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.email input[type="text"], 
#password p-password {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

#password p-password {
    padding: 0;
    width: 1900px;
}

.buttons-div{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.buttons {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 1px;
}

.buttons p-button {
    min-width: 0;
}
