<div class="login">
    <div class="email">
        <label for="email">Login</label>
        <input type="text" pInputText id="email" placeholder="Digite seu email" />
    </div>

    <div class="password">
        <label for="password">Password</label>
        <p-password inputId="password" [feedback]="false" placeholder="Digite sua senha"></p-password>
    </div>

    <div class="buttons-div">
        <p-button href="/" class="buttons">Login</p-button>
        <p-button href="" class="buttons">Cadastro usúario</p-button>
        <p-button href="" class="buttons">Alterar senha</p-button>
    </div>
</div>