<form class="main card flex flex-column justify-content-center" [formGroup]="formGroup">
    <div class="flex gap-2 ">
        <div class="flex align-items-center gap-3 mb-3">
            <label for="username" class="font-semibold w-10rem">Nome da categoria <span class="warning-text">*</span></label>
            <input pInputText id="username" formControlName="nome" class="flex-auto" autocomplete="off" />
        </div>
        <div class="flex justify-content-end gap-2">
            <p-button label="Cancelar" (onClick)="cancelar()" severity="secondary" [outlined]="true"
                icon="pi pi-undo" />
            <p-button label="Salvar" (onClick)="salvar()" icon="pi pi-save" />
        </div>
    </div>
    <span *ngIf="formGroup.get('nome')?.touched && formGroup.get('nome')?.invalid" class="warning-text">
        {{ obterMensagemErroNome() }}
      </span>
</form>