<p-toast />
<p-confirmDialog />
<div class="card flex justify-content-end">
    <p-button routerLink="/contas/cadastro" label="Cadastrar" icon="pi pi-plus"/>
</div>

<div class="card">
    <p-table [value]="contas" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Conta</th>
                <th>Categoria</th>
                <th>Saldo</th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-conta>
            <tr>
                <td>{{ conta.nome }}</td>
                <td>{{ categorias[conta.idCategoria] }}<i [ngClass]="conta.icon"></i></td>
                <td>R$ {{ conta.saldo | number: '1.2-2' }}</td>
                <td>
                    <p-button label="Editar" icon="pi pi-pencil" (click)="editar(conta.id)"/>

                    <p-button label="Apagar" (click)="confirmacaoApagar($event, conta.id)" severity="danger" icon="pi pi-trash" [outlined]="true"/>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>