<p-toast />
<p-confirmDialog />
<div class="card flex justify-content-end">
    <p-button routerLink="/contas/cad-contas" label="Cadastrar" icon="pi pi-plus"/>
</div>

<div class="card">
    <p-table [value]="contas" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Conta</th>
                <th>Categoria</th>
                <th>Saldo</th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-conta>
            <tr>
                <td>{{ conta.nome }}</td>
                <td>{{ categorias[conta.idCategoria] }}<i [ngClass]="conta.icon"></i></td>
                <td>R$ {{ conta.saldo }}</td>
                <td>
                    <p-button label="Editar" icon="pi pi-pencil" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>