.main {
    width: 100%;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}




.p-dropdown-lucas > .p-component{
    width: 100%;
    border-radius: 6px 0px 0px 6px !important;
}