<div class="main" [style]="{ width: '50rem' }">
    <span class="p-text-secondary block mb-5">Editar conta bancária</span>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem">Nome da conta</label>
        <input pInputText id="username" class="flex-auto" autocomplete="off" [(ngModel)]="contaCriada.nome" />
    </div>
    <div class="flex align-items-center gap-3 mb-3">

        <label for="email" class="font-semibold w-6rem">Categoria</label>
        <p-inputGroup>
            <p-dropdown [options]="categorias" [(ngModel)]="contaCriada.idCategoria" optionLabel="nome" optionValue="id"
                placeholder="Escolha a categoria" class="p-dropdown-lucas">
            </p-dropdown>
            <!-- VER A CRIAÇÃO DA CATEGORIA AO CLICKAR NO BOTAO COM O PROFESSOR (duvida referente ao caminho de volta para o cadastro) -->
            <button type="button" pButton icon="pi pi-plus" class="p-button-primary"></button>
        </p-inputGroup>

        <label for="email" class="font-semibold w-2rem">Ícone</label>
        <p-dropdown [options]="icons" [(ngModel)]="contaCriada.icon" optionLabel="name" placeholder="Escolha um ícone"
            class="flex-auto" autocomplete="off">
            <ng-template let-icon pTemplate="item">
                <div>
                    <i [ngClass]="icon"></i>
                </div>
            </ng-template>
            <ng-template pTemplate="selectedItem">
                <div>
                    <i [ngClass]="contaCriada.icon">
                    </i>
                </div>
            </ng-template>
        </p-dropdown>
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="saldo" class="font-semibold w-8rem">Saldo da conta</label>
        <input pInputText id="saldo" class="flex-auto" autocomplete="off" placeholder="R$"
            [(ngModel)]="contaCriada.saldo" />
        <p-button label="Cancelar" severity="secondary" (onClick)="cancelar()" />
        <p-button label="Salvar" (onClick)="salvar()" />
    </div>
</div>