<p-toast />
<p-confirmDialog />
<div class="card flex justify-content-end">
    <p-button routerLink="/cartoes/cadastro" label="Cadastrar" icon="pi pi-plus" />
</div>

<div class="card">
    <p-table [value]="cartoesLista" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>Conta vinculada</th>
                <th>Bandeira</th>
                <th>Saldo</th>
                <th>Dia de Fechamento</th>
                <th>Data de Vencimento</th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cartao>
            <tr>
                <td>{{ cartao.nome }}</td>
                <td>{{ cartao.contaVinculada }}</td>
                <td>{{ cartao.bandeira }}</td>
                <td>R$ {{ cartao.saldo }}</td>
                <td>{{ cartao.diaFechamento }}</td>
                <td>{{ cartao.diaVencimento }}</td>
                <td>
                    <p-button label="Editar" (onClick)="editar(cartao.id)" icon="pi pi-pencil" />
                    <p-button label="Apagar" (onClick)="confirmacaoApagar($event, cartao.id)" severity="danger" icon="pi pi-trash" [outlined]="true" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>