<form class="main card flex justify-content-center gap-2" [formGroup]="formGroup" (ngSubmit)="obterMensagemErro()">
    <div class="flex align-items-center gap-3 mb-3">
        <div class="flex flex-column">
            <div>
                <label class="font-semibold">Categoria <span class="warning-text">*</span></label>
                <p-dropdown [options]="categorias" optionLabel="name" optionValue="id" formControlName="categoria"
                    placeholder="Escolha a categoria à ser vinculada">
                    <ng-template let-categoria pTemplate="item">
                        {{categoria.nome}}
                    </ng-template>
                    <ng-template let-categoria pTemplate="selectedItem">
                        {{categoria.nome}}
                    </ng-template>
                </p-dropdown>
            </div>
            <span class="warning-text"> {{ erroCategoria }} </span>
        </div>

        <div class="flex flex-column">
            <div>
                <label for="username" class="font-semibold">Nome<span
                        class="warning-text">*</span></label>
                <input pInputText id="username" formControlName="nome" class="flex-auto" autocomplete="off" />
            </div>
            <span class="warning-text">
                {{ erroNome }}
            </span>
        </div>
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancelar" (onClick)="cancelar()" severity="secondary" [outlined]="true" icon="pi pi-undo" />
        <p-button type="submit" label="Salvar" (onClick)="salvar()" icon="pi pi-save" />
    </div>
</form>