body {
    padding: 0px;
    margin: 0px;
}
.warning-text{
    font-weight: bold;
    color: rgb(153, 61, 61);
    font-size: 12px;
}

.p-dropdown-lucas > .p-component{
    width: 100%;
    border-radius: 6px 0px 0px 6px !important;
}

