<p-toast />
<p-confirmDialog />
<div class="card flex justify-content-end gap-2 mb-2">
    <p-button routerLink="/contas/cadastro" icon="pi pi-plus"/>
</div>

<div class="card">
    <p-table [value]="contas" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <tr>
                <th>Conta</th>
                <th>Categoria</th>
                <th>Saldo</th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-conta>
            <tr>
                <td>{{ conta.nome }}</td>
                <td>{{ categorias[conta.idCategoria] }} <i [ngClass]="conta.icon"></i></td>
                <td>{{ conta.saldo | currency: 'BRL' : 'symbol' : '1.2-2' }}</td>
                <td class="flex align-items-center justify-content-start gap-2">
                    <p-button icon="pi pi-pencil" (click)="editar(conta.id)" [rounded]="true"/>
                    <p-button (click)="confirmacaoApagar($event, conta.id)" severity="danger" icon="pi pi-trash" [outlined]="true" [rounded]="true"/>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>